<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="avalonia-nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <xpf>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="AQAAAGMAAAAfiwgAAAAAAAADY2RgYPgPBQKPGmYUV+Ylp5UWZ+bnPWqY+XDWJGEGKGAGYtaczLzSCtbcxOT8YvbyzLyU/PJikDhzRUEaDxDrJhZk6hZnZOaCOUAFaflFucUAASyZemMAAAAAAQAAX6kT+LrPmXMoH8+u/bbfPAGMo9kWYdIteOlHCxOpJ0RCFWBYc72g04WTHEYCX6xrKzKd/9sWAsZJT9mLlvhEM13QBLaXChQew6IEH3KJM1o/q4+LHnTPYieUcmDQpeHpfo8CgTHbnS1QIOQ6/HTxXGtHC8mgbQPwgH+U0ZHzBfx61Omg/JGslYS0/UKZjPAEhGlgD5L253nT/HC5YrbBcDLDgf17wLRLr4TNkyToBwWkvcU4fgJxvRGikwbJkWbO17u7593nsAYcIhx6VIEXB/xQh32/bS73WuRQ2Fe3L6flR06IXVt0cxukfcarWQJj0lnA5Mz3ON1E361X+81z/Q==" />
    </xpf>
  </packageSourceCredentials>
</configuration>